

/* -------------------------------------------------------- */

.inputText{
    width: 20rem;
    height: 2.2rem;
    background-color: rgba(230, 230, 230, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.034);
    box-shadow: rgba(15, 15, 15, 0.05) 0px 1px 2px;
    border-radius: 4px;
    font-family:  sans-serif;
    color: #131313de;
    padding-left: .5rem ;
    font-size: 16px;
    margin: .3rem 0 .4rem 0;
}
.inputText::placeholder{
    color: rgba(168, 168, 168, 0.605);
    font-size: 14px;
}
.inputText:focus{
    outline: 2px solid rgba(7, 168, 255, 0.559);
}

/* -------------------------------------------- */

.retroalimentacionDiv{
    width: 20rem;
    height: auto;
    text-align: justify;
    padding: .3rem .4rem;
    margin: 0 0 .7rem 0;
}
.retroalimentacionDiv_red{
    border-top: 3px solid #FF4F55;
    background-color: #FFEDEE   ;
}
.retroalimentacionDiv_green{
    border-top: 3px solid #8FAE1B;
    background-color: #F4F7E8;
}

/* -------------------------------------------- */

.buttonSubmit1{
    width: 20rem;
    height: 2.2rem;
    font-family: Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin: .5rem 0;
    color: rgba(0, 0, 0, 0.823);
    font-weight:700;
    letter-spacing: 1px;
    cursor: pointer;

  --color: #f2f2f27d;
  --radius: 8%;
  --elevation: 1px;
  --bevel: 1px;
  --angle: 267deg;
  --intensity: 8;
  --diffusion: 11;

  /*======= Computed Variables =======*/
  --sin: calc(sin(var(--angle)));
  --cos: calc(cos(var(--angle)));
  --x-displacement: calc(-1 * var(--cos) * (var(--elevation) + 1px));
  --y-displacement: calc(-1 * var(--sin) * (var(--elevation) + 1px));
  --edge-opacity: calc(var(--intensity) * 0.006 - var(--diffusion) * 0.002);
  --edge-blur: calc(var(--bevel) * 1.5);
  --surface-contrast: calc(var(--intensity) * 0.01 - var(--diffusion) * 0.005);

  /*======= Computed Properties =======*/
  border-radius: var(--radius);
  box-shadow: var(--x-displacement) var(--y-displacement) calc(var(--diffusion) * 0.3px + (var(--elevation))) calc(var(--elevation) / 2) rgba(0, 0, 0, calc(var(--intensity) * 0.006)),
    0px 0px calc(var(--diffusion) * 1.4px) rgba(255, 255, 255, calc(var(--intensity) * 0.004)),
    inset calc(var(--bevel) * -1) 0 var(--edge-blur) hsla(100, 0%, calc((var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 var(--bevel) var(--edge-blur) hsla(100, 0%, calc((-1 * var(--sin) + 1) * 50%), var(--edge-opacity)),
    inset var(--bevel) 0 var(--edge-blur) hsla(100, 0%, calc((-1 * var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 calc(var(--bevel) * -1) var(--edge-blur) hsla(100, 0%, calc((var(--sin) + 1) * 50%), var(--edge-opacity));
  background: linear-gradient(
    calc(var(--angle) + 90deg),
    rgba(0, 0, 0, var(--surface-contrast)),
    rgba(255, 255, 255, var(--surface-contrast))
    ),
    var(--color);
  /*======== Static Properties ========*/
  background-blend-mode: soft-light;
  border: 1px solid rgba(0, 0, 0, 0.025);
  border-radius: 4px;
}

.buttonSubmit1:hover{
    background-color: #f2f2f241;
}
.buttonSubmit1:active{
    /* background-color: rgba(122, 59, 59, 0.108); */
}
.buttonSubmit1:focus{
    border: 1px solid rgba(0, 0, 0, 0.052);
}

.buttonSubmit1_loading{
    width: 20rem;
    height: 2.2rem;
    font-family: Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin: .5rem 0;
    color: rgba(0, 0, 0, 0.533);
    font-weight:700;
    letter-spacing: 1px;
    cursor: pointer;

  --color: #f2f2f2e9;
  --radius: 8%;
  --elevation: 1px;
  --bevel: 1px;
  --angle: 267deg;
  --intensity: 12;
  --diffusion: 25;

  /*======= Computed Variables =======*/
  --sin: calc(sin(var(--angle)));
  --cos: calc(cos(var(--angle)));
  --x-displacement: calc(-1 * var(--cos) * (var(--elevation) + 1px));
  --y-displacement: calc(-1 * var(--sin) * (var(--elevation) + 1px));
  --edge-opacity: calc(var(--intensity) * 0.006 - var(--diffusion) * 0.002);
  --edge-blur: calc(var(--bevel) * 1.5);
  --surface-contrast: calc(var(--intensity) * 0.01 - var(--diffusion) * 0.005);

  /*======= Computed Properties =======*/
  border-radius: var(--radius);
  box-shadow: var(--x-displacement) var(--y-displacement) calc(var(--diffusion) * 0.3px + (var(--elevation))) calc(var(--elevation) / 2) rgba(0, 0, 0, calc(var(--intensity) * 0.006)),
    0px 0px calc(var(--diffusion) * 1.4px) rgba(255, 255, 255, calc(var(--intensity) * 0.004)),
    inset calc(var(--bevel) * -1) 0 var(--edge-blur) hsla(100, 0%, calc((var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 var(--bevel) var(--edge-blur) hsla(100, 0%, calc((-1 * var(--sin) + 1) * 50%), var(--edge-opacity)),
    inset var(--bevel) 0 var(--edge-blur) hsla(100, 0%, calc((-1 * var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 calc(var(--bevel) * -1) var(--edge-blur) hsla(100, 0%, calc((var(--sin) + 1) * 50%), var(--edge-opacity));
  background: linear-gradient(
    calc(var(--angle) + 90deg),
    rgba(0, 0, 0, var(--surface-contrast)),
    rgba(255, 255, 255, var(--surface-contrast))
    ),
    var(--color);
  /*======== Static Properties ========*/
  background-blend-mode: soft-light;
  border: none;
  border-radius: 4px;
  padding-right: 11px;
    transition: all 0ms ease-in-out;

}

.buttonSubmit1_loading>span{
    width: 11px;
    height: 11px;
    position: relative;
    top: .07rem;
    right: .4rem;
    border: 2px solid rgba(0, 0, 0, 0.566);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* -------------------------------------------------- */

.buttonSubmit2{ 
    width: 20rem;
    height: 2rem;
    border: 1px solid rgb(74, 192, 255);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin: .5rem 0;
    color: rgba(255, 255, 255, 0.686);
    font-weight:700;
    letter-spacing: 1px;
    cursor: initial;

     --color: rgba(118, 204, 251, 0.893);
  --radius: 8%;
  --elevation: 1px;
  --bevel: 1px;
  --angle: 267deg;
  --intensity: 20;
  --diffusion: 25;

  /*======= Computed Variables =======*/
  --sin: calc(sin(var(--angle)));
  --cos: calc(cos(var(--angle)));
  --x-displacement: calc(-1 * var(--cos) * (var(--elevation) + 1px));
  --y-displacement: calc(-1 * var(--sin) * (var(--elevation) + 1px));
  --edge-opacity: calc(var(--intensity) * 0.006 - var(--diffusion) * 0.002);
  --edge-blur: calc(var(--bevel) * 1.5);
  --surface-contrast: calc(var(--intensity) * 0.01 - var(--diffusion) * 0.005);

  /*======= Computed Properties =======*/
  border-radius: var(--radius);
  box-shadow: var(--x-displacement) var(--y-displacement) calc(var(--diffusion) * 0.3px + (var(--elevation))) calc(var(--elevation) / 2) rgba(0, 0, 0, calc(var(--intensity) * 0.006)),
    0px 0px calc(var(--diffusion) * 1.4px) rgba(255, 255, 255, calc(var(--intensity) * 0.004)),
    inset calc(var(--bevel) * -1) 0 var(--edge-blur) hsla(100, 0%, calc((var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 var(--bevel) var(--edge-blur) hsla(100, 0%, calc((-1 * var(--sin) + 1) * 50%), var(--edge-opacity)),
    inset var(--bevel) 0 var(--edge-blur) hsla(100, 0%, calc((-1 * var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 calc(var(--bevel) * -1) var(--edge-blur) hsla(100, 0%, calc((var(--sin) + 1) * 50%), var(--edge-opacity));
  background: linear-gradient(
    calc(var(--angle) + 90deg),
    rgba(0, 0, 0, var(--surface-contrast)),
    rgba(255, 255, 255, var(--surface-contrast))
    ),
    var(--color);
  /*======== Static Properties ========*/
  background-blend-mode: soft-light;
  border: none;
  border-radius: 4px;
  padding-right: 11px;
    transition: all 0ms ease-in-out;
}



.buttonSubmit2_active{ /*button activo*/
    border: 1px solid rgb(22, 161, 237);
    margin: .5rem 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 20rem;
    height: 2rem;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    font-weight:700;
    letter-spacing: 1px;
    cursor: initial;
    
         --color: rgba(45, 178, 250, 0.893);
  --radius: 8%;
  --elevation: 1px;
  --bevel: 1px;
  --angle: 267deg;
  --intensity: 25;
  --diffusion: 25;

  /*======= Computed Variables =======*/
  --sin: calc(sin(var(--angle)));
  --cos: calc(cos(var(--angle)));
  --x-displacement: calc(-1 * var(--cos) * (var(--elevation) + 1px));
  --y-displacement: calc(-1 * var(--sin) * (var(--elevation) + 1px));
  --edge-opacity: calc(var(--intensity) * 0.006 - var(--diffusion) * 0.002);
  --edge-blur: calc(var(--bevel) * 1.5);
  --surface-contrast: calc(var(--intensity) * 0.01 - var(--diffusion) * 0.005);

  /*======= Computed Properties =======*/
  border-radius: var(--radius);
  box-shadow: var(--x-displacement) var(--y-displacement) calc(var(--diffusion) * 0.3px + (var(--elevation))) calc(var(--elevation) / 2) rgba(0, 0, 0, calc(var(--intensity) * 0.006)),
    0px 0px calc(var(--diffusion) * 1.4px) rgba(255, 255, 255, calc(var(--intensity) * 0.004)),
    inset calc(var(--bevel) * -1) 0 var(--edge-blur) hsla(100, 0%, calc((var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 var(--bevel) var(--edge-blur) hsla(100, 0%, calc((-1 * var(--sin) + 1) * 50%), var(--edge-opacity)),
    inset var(--bevel) 0 var(--edge-blur) hsla(100, 0%, calc((-1 * var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 calc(var(--bevel) * -1) var(--edge-blur) hsla(100, 0%, calc((var(--sin) + 1) * 50%), var(--edge-opacity));
  background: linear-gradient(
    calc(var(--angle) + 90deg),
    rgba(0, 0, 0, var(--surface-contrast)),
    rgba(255, 255, 255, var(--surface-contrast))
    ),
    var(--color);
  /*======== Static Properties ========*/
  background-blend-mode: soft-light;
  border: none;
  border-radius: 4px;
  padding-right: 11px;
    transition: all 120ms ease-in-out;
}

.buttonSubmit2_active:hover{
    background-color: rgb(34, 171, 245);
}
.buttonSubmit2_active:focus{
    outline: 1px solid rgba(7, 168, 255, 0.559);
}
.buttonSubmit2_active:active{
    background-color: rgba(2, 147, 224, 0.893);
}



.buttonSubmit2_loading{
    width: 20rem;
    height: 2rem;
    border: 1px solid rgb(81, 192, 252);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: .5rem ;
    font-size: .8rem;
    margin: .5rem 0;
    color: rgba(255, 255, 255, 0.686);
    font-weight:700;
    letter-spacing: 1px;
    cursor: initial;

             --color: rgba(108, 203, 254, 0.893);
  --radius: 8%;
  --elevation: 1px;
  --bevel: 1px;
  --angle: 267deg;
  --intensity: 23;
  --diffusion: 25;

  /*======= Computed Variables =======*/
  --sin: calc(sin(var(--angle)));
  --cos: calc(cos(var(--angle)));
  --x-displacement: calc(-1 * var(--cos) * (var(--elevation) + 1px));
  --y-displacement: calc(-1 * var(--sin) * (var(--elevation) + 1px));
  --edge-opacity: calc(var(--intensity) * 0.006 - var(--diffusion) * 0.002);
  --edge-blur: calc(var(--bevel) * 1.5);
  --surface-contrast: calc(var(--intensity) * 0.01 - var(--diffusion) * 0.005);

  /*======= Computed Properties =======*/
  border-radius: var(--radius);
  box-shadow: var(--x-displacement) var(--y-displacement) calc(var(--diffusion) * 0.3px + (var(--elevation))) calc(var(--elevation) / 2) rgba(0, 0, 0, calc(var(--intensity) * 0.006)),
    0px 0px calc(var(--diffusion) * 1.4px) rgba(255, 255, 255, calc(var(--intensity) * 0.004)),
    inset calc(var(--bevel) * -1) 0 var(--edge-blur) hsla(100, 0%, calc((var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 var(--bevel) var(--edge-blur) hsla(100, 0%, calc((-1 * var(--sin) + 1) * 50%), var(--edge-opacity)),
    inset var(--bevel) 0 var(--edge-blur) hsla(100, 0%, calc((-1 * var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 calc(var(--bevel) * -1) var(--edge-blur) hsla(100, 0%, calc((var(--sin) + 1) * 50%), var(--edge-opacity));
  background: linear-gradient(
    calc(var(--angle) + 90deg),
    rgba(0, 0, 0, var(--surface-contrast)),
    rgba(255, 255, 255, var(--surface-contrast))
    ),
    var(--color);
  /*======== Static Properties ========*/
  background-blend-mode: soft-light;
  border: none;
  border-radius: 4px;
  padding-right: 11px;
    transition: all 0ms ease-in-out;
}
.buttonSubmit2_loading>span{
    width: 11px;
    height: 11px;
    background-color: rgba(118, 204, 251, 0.893);
    border: 1px solid rgb(81, 192, 252);
    position: relative;
    top: .08rem;
    display: inline-block;
    right: .3rem;
    border: 2px solid rgba(255, 255, 255, 0.566);
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





/* ---------------------------------------------------------*/

.divLoading{
    
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    top: -2rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem 1.4rem;
    color: rgba(0, 0, 0, 0.242);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    box-shadow: 0px 0px 20px -4px rgba(155, 154, 154, 0.166);
    -webkit-box-shadow: 0px 0px 20px -4px rgba(155, 154, 154, 0.118);
    -moz-box-shadow: 0px 0px 20px -4px rgba(155, 154, 154, 0.166);
}
.divLoading>span{
    width: 14px;
    height: 14px;
    border: 2px solid rgba(108, 107, 107, 0.286);
    border-bottom-color: transparent;
    border-radius: 50%;
    position: relative;
    top: .14rem;
    right: .2rem;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation .8s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* -------------------------------------------------------- */


@media (max-width: 345px){
    .inputText, .retroalimentacionDiv,.buttonSubmit1, .buttonSubmit2{
        width: 18rem;
    }

 }