


.cardUserContainer{
    width: 100%;
    height: 3.5rem;
    top: 0;
    display: flex;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 0 1.2rem 0 1.2rem;
}

.img{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    object-fit:cover;
    /* border: 1px solid rgb(255, 255, 255); */
}


.emailNameContainer{
    display: block;
    margin-left: .5rem;
    padding-left: 0.5rem;
    border-left: 1px solid rgba(255, 255, 255, 0.673);
}

.emailNameContainer_email{
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: .75rem;
    margin-top: .1rem;
    text-decoration: none;
    /* font-weight: 600; */
    color: rgb(255, 255, 255);
    
}

.emailNameContainer_name{
    display: block;
    margin-bottom: .2rem;
    font-family: Helvetica, sans-serif;
    font-size: .75rem;
    color: rgb(255, 255, 255);
    font-weight: 600;

}



.buttonLogOut{
    margin-left: auto;
    height: 1.6rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.985);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
    padding: 0 0.8rem;
    color: rgba(0, 0, 0, 0.858);
    font-weight:700;
    letter-spacing: 1px;
    word-break: keep-all;
    text-wrap-mode: nowrap;
    cursor: pointer;
    transition: all border 100ms ease-in-out;




  --color: #f2f2f2;
  --radius: 8%;
  --elevation: 3px;
  --bevel: 1px;
  --angle: 267deg;
  --intensity: 60;
  --diffusion: 30;

  /*======= Computed Variables =======*/
  --sin: calc(sin(var(--angle)));
  --cos: calc(cos(var(--angle)));
  --x-displacement: calc(-1 * var(--cos) * (var(--elevation) + 1px));
  --y-displacement: calc(-1 * var(--sin) * (var(--elevation) + 1px));
  --edge-opacity: calc(var(--intensity) * 0.006 - var(--diffusion) * 0.002);
  --edge-blur: calc(var(--bevel) * 1.5);
  --surface-contrast: calc(var(--intensity) * 0.01 - var(--diffusion) * 0.005);

  /*======= Computed Properties =======*/
  border-radius: var(--radius);
  box-shadow: var(--x-displacement) var(--y-displacement) calc(var(--diffusion) * 0.3px + (var(--elevation))) calc(var(--elevation) / 2) rgba(0, 0, 0, calc(var(--intensity) * 0.006)),
    0px 0px calc(var(--diffusion) * 1.4px) rgba(255, 255, 255, calc(var(--intensity) * 0.004)),
    inset calc(var(--bevel) * -1) 0 var(--edge-blur) hsla(100, 0%, calc((var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 var(--bevel) var(--edge-blur) hsla(100, 0%, calc((-1 * var(--sin) + 1) * 50%), var(--edge-opacity)),
    inset var(--bevel) 0 var(--edge-blur) hsla(100, 0%, calc((-1 * var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 calc(var(--bevel) * -1) var(--edge-blur) hsla(100, 0%, calc((var(--sin) + 1) * 50%), var(--edge-opacity));
  background: linear-gradient(
    calc(var(--angle) + 90deg),
    rgba(0, 0, 0, var(--surface-contrast)),
    rgba(255, 255, 255, var(--surface-contrast))
    ),
    var(--color);
  /*======== Static Properties ========*/
  background-blend-mode: soft-light;
  /* border: 1px solid rgba(0, 0, 0, 0.025); */
  border-radius: 4px;
  transition: all 100ms ease-in-out;
}

.buttonLogOut:hover{
    background-color: #f9f9f9f4;
}
.buttonLogOut:focus{
    border: 1px solid rgba(0, 0, 0, 0.851);
}