

.landingRouteContainer{
    display: grid;
    grid-template-columns: 55% 45%;
    width: 100%;
    min-height: 101vh;
    padding: 2.5rem;
}
@media (max-width:  59.375em){ 
    /* 950px */
    .landingRouteContainer{
        padding: 1.5rem;
    }
    
}
@media (max-width:  46.875em){ 
    /* 750px */
    .landingRouteContainer{
        grid-template-columns: none;
        grid-template-rows: 70% 30%;
        padding: 1rem;
    }
    
}



.containerDescriptionProyect{
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 24px;
    height: 100%;
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
}
@media (max-width:  59.375em){ 
    /* 950px */
    .containerDescriptionProyect{
        padding: 1.5rem 2rem;
    }
    
}
@media (max-width:  46.875em){ 
    /* 750px */
    .containerDescriptionProyect{
        grid-column-start: none;
        grid-column-end: none;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 1rem 1.4rem;
    }
    
}

.descriptionProyect{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    line-height: 1.30rem;
    color: rgba(82, 82, 82, 0.568);
    text-align: justify;
}

@media (max-width:  23.125em){ 
    /* 370px */
    .descriptionProyect{
        font-size: .8rem;
        line-height: 1.1rem;
    }   
}
 



.buttonsLoginContainer{
    grid-column-start: 2;
    grid-column-end: 3;    
    display: flex;
    justify-content: center; 
    align-items: center;
}


@media (max-width:  23.125em){ 
    /* 370px */
    .buttonsLoginContainer{
        flex-direction: column;
        gap: .8rem;
    }
}


/* 
.button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: .3rem .8rem;
    border: solid 1px rgba(7, 168, 255, 0.559);
    margin-left: .9rem;
    text-decoration: none;
    border-radius: 6px;
}
.button:focus{
    outline: 1px solid red;
} */

.button{
    width: 9rem;
    text-decoration: none;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 0, 0, 0.289);
    box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    -webkit-box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    -moz-box-shadow: 0px 0px 98px -92px rgba(255,0,0,0.59) inset;
    border-radius: 4px;
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
    margin: 0 0.7rem;
    font-weight:700;
    letter-spacing: 1px;
    cursor: pointer;
}



.login{
    color: rgba(255, 0, 0, 0.592);
    background-color: rgb(255, 255, 255);
}
.login:hover{
    background-color: rgb(252, 252, 252);
}
.login:focus{
    border: 2px solid rgba(255, 37, 37, 0.623);
}



.signup{
    color: rgb(255, 255, 255);
    background-color: rgba(253, 54, 54, 0.925);
}
.signup:hover{
    background-color: rgba(243, 52, 52, 0.925);
}

.signup:focus{
    border: 2px solid rgb(255, 129, 129);
}




