

.landingRouteContainer{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    min-height: 101vh;
}
@media (max-width:  59.375em){ 
    /* 950px */
    .landingRouteContainer{
        padding: 1.5rem;
    }
    
}
@media (max-width:  46.875em){ 
    /* 750px */
    .landingRouteContainer{
        grid-template-columns: none;
        grid-template-rows: 70% 30%;
        padding: 1rem;
    }
    
}



.containerDescriptionProyect{
    grid-column-start: 1;
    grid-column-end: 2;
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width:  59.375em){ 
    /* 950px */
    .containerDescriptionProyect{
        padding: 1.5rem 2rem;
    }
    
}
@media (max-width:  46.875em){ 
    /* 750px */
    .containerDescriptionProyect{
        grid-column-start: none;
        grid-column-end: none;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 1rem 1.4rem;
    }
    
}
 
.descriptionProyect{
    font-family: Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.897);
    text-align: justify;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
    font-weight:lighter;
    margin-top: 3rem;
    border: 2px solid rgba(255, 255, 255, 0);
    cursor:default;
    padding: .2rem;
}


@media (max-width:  23.125em){ 
    /* 370px */
    .descriptionProyect{
        font-size: .8rem;
        line-height: 1.1rem;
    }   
}

.linkGitHub{
    margin-top: 1.5rem;
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.851);
    border: 2px solid rgba(255, 255, 255, 0);
    width: fit-content;
    padding: .1rem;
}




.buttonsLoginContainer{
    grid-column-start: 2;
    grid-column-end: 3;    
    display: flex;
    justify-content: center; 
    align-items: center;
}


@media (max-width:  23.125em){ 
    /* 370px */
    .buttonsLoginContainer{
        flex-direction: column;
        gap: .8rem;
    }
}




.button{
    width: 9rem;
    text-decoration: none;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
    margin: 0 0.7rem;
    font-weight:700;
    letter-spacing: 1px;
    cursor: pointer;
}

 



.login{
    --color: #f2f2f27d;
  --radius: 8%;
  --elevation: 1px;
  --bevel: 1px;
  --angle: 267deg;
  --intensity: 8;
  --diffusion: 11;

  /*======= Computed Variables =======*/
  --sin: calc(sin(var(--angle)));
  --cos: calc(cos(var(--angle)));
  --x-displacement: calc(-1 * var(--cos) * (var(--elevation) + 1px));
  --y-displacement: calc(-1 * var(--sin) * (var(--elevation) + 1px));
  --edge-opacity: calc(var(--intensity) * 0.006 - var(--diffusion) * 0.002);
  --edge-blur: calc(var(--bevel) * 1.5);
  --surface-contrast: calc(var(--intensity) * 0.01 - var(--diffusion) * 0.005);

  /*======= Computed Properties =======*/
  border-radius: var(--radius);
  box-shadow: var(--x-displacement) var(--y-displacement) calc(var(--diffusion) * 0.3px + (var(--elevation))) calc(var(--elevation) / 2) rgba(0, 0, 0, calc(var(--intensity) * 0.006)),
    0px 0px calc(var(--diffusion) * 1.4px) rgba(255, 255, 255, calc(var(--intensity) * 0.004)),
    inset calc(var(--bevel) * -1) 0 var(--edge-blur) hsla(100, 0%, calc((var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 var(--bevel) var(--edge-blur) hsla(100, 0%, calc((-1 * var(--sin) + 1) * 50%), var(--edge-opacity)),
    inset var(--bevel) 0 var(--edge-blur) hsla(100, 0%, calc((-1 * var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 calc(var(--bevel) * -1) var(--edge-blur) hsla(100, 0%, calc((var(--sin) + 1) * 50%), var(--edge-opacity));
  background: linear-gradient(
    calc(var(--angle) + 90deg),
    rgba(0, 0, 0, var(--surface-contrast)),
    rgba(255, 255, 255, var(--surface-contrast))
    ),
    var(--color);
  /*======== Static Properties ========*/
  background-blend-mode: soft-light;
  border: 1px solid rgba(0, 0, 0, 0.025);

    color: rgba(0, 0, 0, 0.732);
    border-radius: 4px  ;
    transition: all 100ms ease-in-out;
}

.login:hover{
    background-color: rgba(243, 243, 243, 0.088);
}
.login:focus{
    border: 1.5px solid rgba(104, 104, 104, 0.088);
}


.signup{
     --color: #121212;
  --radius: 8%;
  --elevation: 1px;
  --bevel: 1px;
  --angle: 267deg;
  --intensity: 35;
  --diffusion: 19;

  /*======= Computed Variables =======*/
  --sin: calc(sin(var(--angle)));
  --cos: calc(cos(var(--angle)));
  --x-displacement: calc(-1 * var(--cos) * (var(--elevation) + 1px));
  --y-displacement: calc(-1 * var(--sin) * (var(--elevation) + 1px));
  --edge-opacity: calc(var(--intensity) * 0.006 - var(--diffusion) * 0.002);
  --edge-blur: calc(var(--bevel) * 1.5);
  --surface-contrast: calc(var(--intensity) * 0.01 - var(--diffusion) * 0.005);

  /*======= Computed Properties =======*/
  border-radius: var(--radius);
  box-shadow: var(--x-displacement) var(--y-displacement) calc(var(--diffusion) * 0.3px + (var(--elevation))) calc(var(--elevation) / 2) rgba(0, 0, 0, calc(var(--intensity) * 0.006)),
    0px 0px calc(var(--diffusion) * 1.4px) rgba(255, 255, 255, calc(var(--intensity) * 0.004)),
    inset calc(var(--bevel) * -1) 0 var(--edge-blur) hsla(100, 0%, calc((var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 var(--bevel) var(--edge-blur) hsla(100, 0%, calc((-1 * var(--sin) + 1) * 50%), var(--edge-opacity)),
    inset var(--bevel) 0 var(--edge-blur) hsla(100, 0%, calc((-1 * var(--cos) + 1) * 50%), var(--edge-opacity)),
    inset 0 calc(var(--bevel) * -1) var(--edge-blur) hsla(100, 0%, calc((var(--sin) + 1) * 50%), var(--edge-opacity));
  background: linear-gradient(
    calc(var(--angle) + 90deg),
    rgba(0, 0, 0, var(--surface-contrast)),
    rgba(255, 255, 255, var(--surface-contrast))
    ),
    var(--color);
  /*======== Static Properties ========*/
  background-blend-mode: soft-light;
  border: 1px solid rgba(0, 0, 0, 0.025);

  
     border-radius: 4px;
   color: rgba(255, 255, 255, 0.91);
   transition: all 100ms ease-in-out;
}

.signup:hover{
    background-color: rgba(0, 0, 0, 0.86); 
}
.signup:focus{
   border: 1px solid rgba(162, 162, 162, 0.842);
}





